  <ion-header style="background-color:grey">
    <ion-toolbar style="background-color:grey">
      <ion-title>Confirmation</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-content">
      <div class="item-text">
        <h6>Bénéficiaire</h6>
        <h4>DIALLO Mariama</h4>
      </div>
      <div class="item-text">
        <h6>Téléphone</h6>
        <h4>77 536 67 56</h4>
      </div>
      <div class="item-text">
        <h6>N°CNI</h6>
        <h4>771125366756</h4>
      </div>
      <div class="item-text">
        <h6>Montant reçu</h6>
        <h4>350 000</h4>
      </div>
      <div class="item-text">
        <h6>Emetteur</h6>
        <h4>DIALLO Saliou</h4>
      </div>
      <div class="item-text">
        <h6>Téléphone</h6>
        <h4>77 007 77 70</h4>
      </div>
    </div>
    <div class="btn">
      <button id="cancelled" type="button" expand="block" (click)="DismissClick()">Annuler</button>
      <button class="Okeybtn" type="button">Confirmer</button>
    </div>
  </ion-content>


