<ion-header>
<ion-list-header>
  <ion-button class="menu">
      <img src="../../../assets/icon/menu.png" alt="Menu"/>
  </ion-button>
  <ion-img class="logo" src="../../../assets/images/Logo.png"></ion-img>
  <button class="user">
    <img src="../../../assets/icon/user.png" alt="Menu"/>
  </button>
</ion-list-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p class="title">Mon solde disponible</p>
      <h1 class="money">150 000</h1>
      <button class="hidden">
        <img src="../../../assets/icon/hidden.png" alt="Menu"/>
    </button>
      <p class="title">Mise à jour le 22/02/21 à 13:15</p>
    </ion-card-content>
    <div class="bottom"></div>
  </ion-card>

  <div class="nav-link">

    <ion-item button class="item">
      <ion-label>
      <a [routerLink]="['/admin']"><ion-icon name="return-up-forward-outline"></ion-icon><span>Dépôt</span></a>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button class="item">
      <ion-label>
        <a href=""><ion-icon name="return-up-back-outline"></ion-icon><span>Retrait</span></a>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button class="item">
      <ion-label>
        <a href=""><ion-icon name="sync-outline"></ion-icon><span>Mes transactions</span></a>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button class="item">
      <ion-label>
        <a href=""><ion-icon name="checkmark-done-circle-outline"></ion-icon><span>Toutes les transactions</span></a>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button class="item">
      <ion-label>
        <a href=""><ion-icon name="apps-outline"></ion-icon><span>Mes commissions</span></a>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button class="item">
      <ion-label>
        <a href=""><ion-icon name="calculator-outline"></ion-icon><span>Calculateur de frais</span></a>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button class="item">
      <ion-label>
        <a href=""><ion-icon name="arrow-undo-outline"></ion-icon><span>Déconnexion</span></a>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-img src="../../../assets/icon/home.png"></ion-img>
      </ion-tab-button>
      <ion-tab-button tab="schedule">
        <ion-img src="../../../assets/icon/Vector (22).png"></ion-img>
      </ion-tab-button>
      <ion-tab-button tab="schedule">
        <ion-img src="../../../assets/icon/Vector (13).png"></ion-img>
      </ion-tab-button>
      <ion-tab-button tab="schedule">
        <ion-img src="../../../assets/icon/calculateur de frais.png"></ion-img>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
