@import "../../assets/style/style.scss";
ion-content
{
  --ion-background-color:#F2F2F2;
  ion-card, .container
    {
      @extend %ion-card;
    }
    .logo{
      border-radius: 20px;
  }
  img
  {
      margin-top: 15%;
      margin-left: 15%;
      width: 70%;
      height: 30%;
  }

  h1
  {
      text-align: center;
      @extend %font-text;
      font-size: 25px;
      line-height: 21px;
      padding-top: 50px;
      color: $title-color;
  }

  .bottom
  {
      border-bottom: 5px solid $color-secondary;
      width: 50%;
      margin-left: 25%;
  }
  .login
  {
    margin-top: 15%;
  }
  .link{
    margin-top: 10%;
    margin-left: 3%;
    #link{
      text-decoration: none;
      @extend %font-text;
      font-size: 17px;
      line-height: 20px;
      color: $color-secondary;
    }
  }
  .btn
  {
    margin-left: 13%;
    margin-top: 10%;
    #btn
    {
      background: $color-secondary;
      border-radius: 30px;
      width: 80%;
      height: 50px;
    }
  }
  p
  {
    margin: 10px;
  }
  #password
  {
    margin-top: 10px;
  }
}


